<!DOCTYPE html>
<html>
<head>
    <title>GeoGuessr Clone</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <style>
        /*change this*/
        #map { height: 500px; width: 100%; }
    </style>
</head>
<body>


<div id="map"></div>
<p id="coords">Click on the map to get latitude and longitude.</p>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
    // Initialize the map
    var map = L.map('map').setView([40, -95], 4);
    // Add OpenStreetMap layer
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);
    
    function onMapClick(e) {
        L.popup({closeButton: false})
            .setLatLng(e.latlng)
            .setContent('Your guess')
            .openOn(map);
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;
        document.getElementById("coords").innerText = `You clicked at: ${lat}, ${lon}`;
    }
    map.on('click', onMapClick);
</script>

</body>
</html>
